.main {
  min-height: 100vh;
  background-color: var(--background-02);
  padding-top: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.ul {
  color: black;
  border: 1px solid black;
  padding: 0;
  width: 350px;
  margin: 10px;
  padding: 5px;
  position: relative;
}
.ul div {
  text-decoration: none;
  text-align: left;
}
.trash {
  position: absolute;
  right: 5px;
  top: 5px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-color);
  font-size: xx-large;
}
