.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-02);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  margin-bottom: 100px;
}
.wrapper {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 160px;
  min-height: 160px;
  border-radius: 50%;
  background-color: var(--inside-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .tag {
    font-size: 30px;
  }
}
