.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 0 0 8px 0;
}
.menu_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.closeButton {
  position: absolute;
  left: 0;
  width: 56px;
  height: 56px;
  color: black;
  background-color: transparent;
  border: none;
}
.menuList {
  color: black;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;

  margin-top: 100px;
}
.menuElement {
  padding: 10px;
  text-align: left;
  margin-left: 70px;
}
.menu_p {
  font-size: 10px;
  position: absolute;
  bottom: 40px;
  left: 17px;
}
@media screen and (min-width: 768px) {
  .menu_container {
    width: 300px;
  }
}
