.container {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: var(--service-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon_element {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--mint);
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  position: absolute;
  left: 60px;
  border-radius: 1px;
  width: 40px;
  height: 2px;
  background-color: var(--background-02);
}
.line2 {
  position: absolute;
  right: 60px;
  border-radius: 1px;
  width: 40px;
  height: 2px;
  background-color: var(--background-02);
}
.header_h1 {
  margin: 0;
  padding: 10px 10px 0px 10px;
}
.header_h4 {
  width: 375px;
  text-align: center;
  margin-top: 10px;
  padding: 0px 10px 10px 10px;
  color: var(--background-05);
  font-size: 14px;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service_image {
  width: 350px;
}
.desc {
  padding-inline: 20px;
  padding-top: 15px;
  text-align: left;
  width: 350px;
}

.heading {
  font-size: large;
  font-weight: bold;
}
.ul {
  padding-left: 0;
}
.move {
  font-size: x-large;
  font-weight: bold;
  color: var(--white);
  background-color: var(--service-ul);
  padding: 10px;
  margin-block: 10px;
}
.cert {
  display: flex;
}
.last_img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .desc {
    width: 750px;
    justify-content: space-between;
  }
  .first_wrapper {
    display: flex;
    flex-direction: row;
    width: max-content;
  }
  .inside_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 350px;
    padding-left: 32px;
  }
  .ul_1 {
    display: flex;
    margin-top: 32px;
  }
  .ul_2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 32px;
  }
  .li_2 {
    margin-right: 18px;
  }
  .li_3 {
    margin-right: 32px;
  }
  .li_4 {
    margin-right: 18px;
  }
  .img_2 {
    margin-left: 32px;
  }
  .move {
    width: 330px;
  }

  .ul_3 {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
  }
  .ul_4 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 32px;
    justify-content: space-between;
  }
  .last_img {
    display: block;
  }
}
