.container {
  width: 100vw;
  margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.poster {
  background-image: url("assets/gallery/aboutus-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 360px;
}
.description {
  color: var(--inside-text);
}
@media screen and (min-width: 768px) {
  .poster {
    background-image: url("assets/gallery/aboutus-tab.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .poster {
    background-image: url("assets/gallery/aboutus-desk.jpg");
    height: 570px;
  }
}
