.item {
  max-width: 100%;
}
.image {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .item {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .item {
    max-width: 33%;
  }
}
