.icon_element {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--mint);
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  position: absolute;
  left: 60px;
  border-radius: 1px;
  width: 40px;
  height: 2px;
  background-color: var(--background-02);
}
.line2 {
  position: absolute;
  right: 60px;
  border-radius: 1px;
  width: 40px;
  height: 2px;
  background-color: var(--background-02);
}
.header_h1 {
  margin: 0;
  padding: 10px 10px 0px 10px;
}
.header_h4 {
  width: 375px;
  text-align: center;
  margin-top: 10px;
  padding: 0px 10px 10px 10px;
  color: var(--background-05);
  font-size: 14px;
}
.header_h4 span {
  color: var(--inside-text);
  font-size: 16px;
}
.socials_wrapper {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-bottom: 35px;
}

.gallery_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.gallery {
  width: calc(100vw - 17px);
  display: flex;

  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .gallery {
    max-width: 800px;
  }
}
