.gallery_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery {
  width: calc(100vw - 17px);
  display: flex;

  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .gallery {
    max-width: 800px;
  }
}
