.aboutus {
  width: 100vw;

  margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.aboutus__p {
  max-width: 500px;
}
.aboutus_wrapper {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url("/assets/aboutus1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 10px;
}
.aboutus_wrapper2 {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url("/assets/aboutus2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 10px;
}
.aboutus_wrapper3 {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url("/assets/aboutus3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 10px;
}
.aboutus_wrapper4 {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url("/assets/aboutus4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.aboutus_span {
  position: absolute;
  top: 140px;
  left: 40px;
  font-size: 10px;
  z-index: 2;
  width: 250px;
}
.aboutus_span2 {
  position: absolute;
  top: 140px;
  left: 40px;
  font-size: 10px;
  z-index: 2;
  width: 250px;
}
.aboutus_span3 {
  position: absolute;
  top: 140px;
  left: 40px;
  font-size: 10px;
  z-index: 2;
  width: 250px;
}
.aboutus_span4 {
  position: absolute;
  top: 140px;
  left: 40px;
  font-size: 10px;
  z-index: 2;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .aboutus_container {
    display: flex;
    width: 650px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .aboutus_container {
    width: 100vw;
    margin: 0;
    justify-content: space-around;
  }
}
