.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: var(--blur-black);
  opacity: 1;
  border-radius: 0 0 8px 0;
}
.container {
  position: absolute;
  width: calc(100vw - 17px);
  height: 100vh;
  background-color: var(--white);
}

.close_btn {
  position: absolute;
  left: 0;
  width: 56px;
  height: 56px;
  color: var(--black);
  background-color: transparent;
  border: none;
}
.menu_list {
  color: var(--black);
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.menu_element {
  padding: 10px;
  text-align: left;
  margin-left: 40px;
}
.menu_p {
  font-size: 10px;
  position: absolute;
  bottom: 40px;
  left: 17px;
}
.icon {
  color: var(--black);
}
.panel {
  position: absolute;
  left: 20px;
  bottom: 200px;
  color: transparent;
}
@media screen and (min-width: 768px) {
  .container {
    width: 300px;
  }
}
