@font-face {
  font-family: "Coustard";
  src: url("/public/assets/fonts/Coustard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Coustard";
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--white);
}
button {
  cursor: pointer;
  color: var(--primary-color);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background-color: var(--background-01);
}
h2 {
  color: var(--primary-color);
}
span {
  color: var(--primary-color);
}
html {
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  margin: 0;
  color: var(--primary-color);
}
h4 {
  margin: 0;
  color: var(--primary-color);
}
a {
  color: var(--primary-color);
}
h6 {
  color: var(--primary-color);
}
h1 {
  color: var(--primary-color);
}
